.hero-container{
    height:110vh;
    position:relative;
    width:100%;
    background-color:var(--bgcolor);
    z-index: 2;
    display:flex;
    justify-content:center;
    align-items:center;
}

.back-shape-container{
    height:216px;
    width:240px;
    position:absolute;
    top: 35%;
    left: 10%;
    background-color:var(--bgcolor);
}

.vertical-strip{
    width:21%;
    height:100%;
    position:absolute;
    top: 0;
    right: 30%;
    background-color:#0a74ac;
    border-radius:10px;
    z-index: 1;
}

.horizontal-strip{
    width:100%;
    height:23%;
    position:absolute;
    top: 40%;
    left: 0;
    background-color:#0a74ac;
    border-radius:10px;
}

.curve-arrow{
    position:absolute;
    left:33%;
    width:20%;
    height:25%;
    background-color:transparent;
    top:41.5%;
    z-index: 10;
    display:flex;
    justify-content:center;
    align-items:center;
}

.curve-arrow img{
    height:230%;
    width: 230%;
}

.back-shape-container1{
    height: 216px;
    width:240px;
    position:absolute;
    bottom:15%;
    right: 7%;
    background-color:var(--bgcolor);
}

.back-shape-container2{
    height:99px;
    width:110px;
    position:absolute;
    top:14%;
    right: 13%;
    background-color:var(--bgcolor);
}

.white-spots-container-lower{
    position:absolute;
    left: 2px;
    bottom: 0%;
    height:180px;
    width:180px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
}

.white-spots-container-upper{
    position:absolute;
    right: 2px;
    top: 20%;
    height:180px;
    width:180px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
}

.white-spots-container-lower div:nth-child(1),.white-spots-container-upper div{
    height:100%;
    width:100px;
    background-color:var(--bgcolor);
    background-image:radial-gradient(white 4px,transparent 2px);
    background-size: 35px 30px;
}

.white-spots-container-lower div:nth-child(2){
    height:60%;
    width:30px;
    background-color:var(--bgcolor);
    background-image:radial-gradient(white 4px,transparent 2px);
    background-size: 35px 30px;
}

.hero-container .main-section{
    height:40%;
    width:60%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    z-index:11;
}

.hero-container .main-section h1,.hero-container .main-section p{
    color:white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.hero-container .main-section h1{
    font-size:55px;
    font-weight: 500;
}

.hero-container .main-section p{
    margin-top:20px;
    font-size: 26px;
    font-weight:400;
}

.icon-container-outer{
    height:70px;
    position:relative;
    width:70px;
    border-radius:50%;
    background-color:rgb(229, 227, 227);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 10;
}

.icon-container-inner{
    height:65px;
    width: 65px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-color:white;
    z-index: 8;
}

.icon-container-inner img{
    max-height: 70%;
    max-width: 70%;
}

.icon-container-outer::after{
    content: "";
    border-right: 15px solid rgb(229, 227, 227);
    position: absolute;
    transform:rotate(220deg);
    border-radius: 5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    bottom:-1px;
    right: -3px;
    z-index: 6;
}

.hero-container .flask-icon{
    position: absolute;
    left: 23%;
    bottom:27%;
}

.hero-container .atom-icon{
    position: absolute;
    left: 17%;
    top:23%;
}

.hero-container .bulb-icon{
    position: absolute;
    right: 17%;
    top:23%;
}

.hero-container .dna-icon{
    position: absolute;
    right: 25%;
    bottom:27%;
}

.scroll-top{
    position:fixed;
    height: 40px;
    width: 40px;
    background-color:#007CC2;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 15%;
}

.scroll-top .inner-arrow{
    transform:rotate(45deg);
    margin-top: 8px;
    height:13px;
    width:13px;
    border-top: 1px solid white;
    border-left: 1px solid white;
}


